<nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand text-light ms-3">Tivicbank</a>
</nav>

<div class="container mt-4">
    <div class="row">
       
        <div class="col-md-12 d-flex flex-md-fill">
            <H3 class="d-flex flex-md-fill">Tivicbank LOG</H3>
            <button class="btn btn-dark me-3" (click)="submitListaSaques()">Saques</button>
            <button class="btn btn-dark " (click)="submitListaDepositos()">Depositos</button>
        </div>
    </div>
    
    <hr/>
    <div class="row bg-secondary bg-opacity-25 p-3">
        <div class="col-6 p-1">
            <label class=" text-uppercase me-1">Nome: </label>
            <label class=""> {{ infoCliente.nome}}</label>
            <br>
            <label class=" text-uppercase me-1">CPF: </label>
            <label class=" text-uppercase">{{ infoCliente.cpf}}</label>
            <br>
            <label class=" text-uppercase">Conta: {{infoContaCliente.conta}}</label><br>
            <label class=" text-uppercase">Agencia: {{infoContaCliente.agencia}}</label><br>
            <label class=" text-uppercase">Tipo: {{infoContaCliente.tipo}}</label><br>
            <label class=" text-uppercase">Banco: {{infoBancoCliente.nome_banco}}</label><br>
        </div>
        <div class="col-3">

        </div>
        <div class="row col-3 d-flex p-3 bg-primary bg-opacity-50   border-1 border-light border ">
            <div class="col-12 d-flex justify-content-center align-self-center align-content-center">
                <label class="text-uppercase text-white">Saldo em Conta</label>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <label class="text-white">{{infoContaCliente.saldo}} R$</label>
            </div>
             <div class="col-12 d-flex justify-content-center mt-3">
                <button class="btn btn-dark " (click)="submitConta()">Consultar Saldo</button>
            </div>
        </div>
        <div class="col-9"></div>
       
    </div>

    <div class="row mt-4">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Fazer deposito</h5>
              <p class="card-text">Digite o valor que você deseja depositar, "ex: 50 ou 1.000".</p>
              <form [formGroup]="form" (ngSubmit)="submitDep()">
                <div class="row">
                    <div class="row  col-md-12">
                        <input type="text" class="form-control visually-hidden  " value="{{infoCliente.id}}" formControlName="id"/>

                         <div class="col-md-9" >
                             <input type="text" formControlName="valor_deposito" placeholder="Digite o valor que deseja depositar" class="form-control" />
                         </div>
                         <div class="col-md-3">
                             <button type="submit"  class="btn btn-primary">Depositar</button>
                         </div>
                    </div>
                 </div> 
             </form>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Realizar saque</h5>
              <p class="card-text">Digite o valor que você deseja sacar, "ex: 50 ou 1.000".</p>
              <form [formGroup]="formSac" (ngSubmit)="submitSac()">
                <div class="row">
                    <div class="row  col-md-12">
                        <input type="text" class="form-control visually-hidden  " formControlName="id"/>

                         <div class="col-md-9" >
                             <input type="text" formControlName="valor_saque" placeholder="Digite o valor que deseja sacar" class="form-control"/>
                         </div>
                         <div class="col-md-3">
                             <button type="submit"  class="btn btn-primary">Sacar</button>
                         </div>
                    </div>
                 </div> 
             </form>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="container">
          <div>
              <table class="table" [hidden]="!saqBool">
                <thead>
                    <tr>
                        <th scope="col">Condigo Saque</th>
                        <th scope="col">Valor do Saque</th>
                        <th scope="col">Data</th>
                    </tr>
                    
                </thead>
                <tbody>
                    <tr *ngFor="let list of saqLista">
                        <th>{{list.codigo_saque}}</th>
                        <td>{{list.valor_saque}}</td>
                        <td>{{list.data_saque}}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table" [hidden]="!depBool">
                <thead>
                    <tr>
                        <th scope="col">Condigo Deposito</th>
                        <th scope="col">Valor do Deposito</th>
                        <th scope="col">Data</th>
                    </tr>
                    
                </thead>
                <tbody>
                    <tr *ngFor="let listDep of depLista">
                        <th>{{listDep.codigo_deposito}}</th>
                        <td>{{listDep.valor_deposito}}</td>
                        <td>{{listDep.data_deposito}}</td>
                    </tr>
                </tbody>
            </table>
          </div>
        
      </div>
</div>
